/*formulario*/
.contacto{
    text-align: center;}
    
    .formulario2{border-style:solid ;
        background-color: $verdesito;
        border-radius: 20px;
        border-color: $azulito;
        border-width: 5px;
        display: inline-flex;
        flex-direction: column;  
        margin-left: 700px;
        padding: 10px;
        
        .menu li{display: inline-block;
            text-align: center;
            margin: 10px;
            background-color: $verdesito;
            padding: 10px;

            
            }
       }
    

    .mapa{text-align: center;
        border-style:solid ;
        border-radius: 20px;
        background-color: $verdesito;
        border-color: $azulito;
        border-width: 5px;
        display: inline-flex;
        flex-direction: column;
        margin-left: 630px;
        padding: 10px;
       
        main section img{ 
            width: 600px;
           
            main section{
                text-align: center;
              
            }
        }   
    }
