/*formulario*/
.contacto{
    text-align: center;}
    
    .formulario2{border-style:solid ;
        background-color: $verdesito;
        border-radius: 20px;
        border-color: $azulito;
        border-width: 5px;
        display: inline-flex;
        flex-direction: column;  
        margin-left: 396px;
        padding: $medida2;
       
        
        .menu li{    display: flex;
            justify-content: center;
            align-items: center;
            margin: $medida2;
            background-color: $verdesito;
            padding: $medida2;
            width: 400px;
            height: 400px;

            
            }
       }
    

    .mapa{ display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 472px;
        border-style:solid ;
        border-radius: 20px;
        background-color: $verdesito;
        border-color: $azulito;
        padding: $medida2;
        width: 350px;
       
      
     
        }   
    
