/*servicios*/
    
.p1{ display: inline-block;
    display: flex;
    text-align: justify;
    margin: $medida2;   
    font-size: 16px;
    padding-left:  $medida2;
    padding-right: $medida2;
    padding-top: $medida2;
    padding-bottom: $medida2;       
   text-align: justify;
   margin-right: 30px;
   margin-top: 30px;
   background-color:$azulito;
   border-radius: 10%; 
   }

.containerservicios{
.listbloque{ display: inline-block;
    display: flex;
    text-align: justify;
    margin-left: 50px;

    }
    .list2{margin: 30px;
        padding: 0;
        box-sizing: border-box;
        font-size: auto;
        font-size: 16px;
        padding-left:  $medida2;
        padding-right: $medida2;
        padding-top:$medida2;
        padding-bottom: $medida2;       
       text-align: justify;
       margin-right: 30px;
       margin-top: 30px;
       background-color: $azulito;
       border-radius: 10%;
       
      
        }
        h3,h4{ 
            background-color:$azulito ;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 10%;
        }
        .bloq2{display: inline-block;
            display: flex;
            text-align: justify;
            margin-left: 50px;

        .p2{ display: inline-block;
            display: flex;
            text-align: justify;
            margin: $medida2;   
            font-size: 16px;
            padding-left:  $medida2;
            padding-right: $medida2;
            padding-top: $medida2;
            padding-bottom: $medida2;       
           text-align: justify;
           margin-right: 30px;
           margin-top: 30px;
           width: 300px;
           
           background-color:$azulito;
           border-radius: 10%; 
        
        
        }
        }
        .bloq3{display: inline-block;
                display: flex;
                text-align: justify; 
                margin-left: 50px;
                
            .p3{ 
                text-align: justify;
              display: flex;
              justify-content: center;
              font-size: 16px;
              padding-left:  $medida2;
              padding-right: $medida2;
              padding-top: $medida2;
              padding-bottom: $medida2;       
              text-align: justify;
              margin-top: 30px;
              height: auto;
              background-color: $azulito;
              border-radius: 10%;
              
            
            }
        }
        .imagens1{ 
            border-radius: 15%;
            width:500px;
            border-style: outset;
        }

        .imagens2{ 
            border-radius: 15%;
            width: 500px;
            border-style: outset;
        
        }
        .imagens3{
            border-radius: 15%;
            width:500px;
            border-style: outset;
            }
        
        }
